.menu {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 250px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(250px);
}

.menu.active li {
  transform: rotate(calc(360deg / 6 * var(--i)));
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  transform: rotate(calc(360deg / -6 * var(--i)));
}

.toggle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 4px rgb(0 0 0 0.15);
}
